aniso8601==3.0.2
asn1crypto==0.24.0
cffi==1.11.5
click==6.7
cryptography==2.3
enum34==1.1.6
Flask==1.0.2
Flask-MySQL==1.4.0
Flask-RESTful==0.3.6
functools32==3.2.3.post2
idna==2.7
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
JsonForm==0.0.2
jsonschema==2.6.0
JsonSir==0.0.2
MarkupSafe==1.0
pycparser==2.18
PyMySQL==0.9.2
Python-EasyConfig==0.1.7
pytz==2018.5
PyYAML==3.13
Resource==0.2.1
six==1.11.0
Werkzeug==0.14.1
